:host {
    .container {
        width: 400px;
    }
    .item-block {
        display: block;
        /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
        mat-select, input, span {
            width:calc(100% - 5px);
        }
    }
    .item-combi {
        width: 100%;
        .item-inline {
            width: calc(50% - 10px);
            display: inline-block;
            /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
            mat-select, input, span {
                width: 100%;
            }
        }
    }
}